/* Applying Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /* Ensures consistent sizing */
    margin: 0;
    padding: 0;
}

.header {
    padding: 16px;
    background-color: white;
    color: black;
    position: relative;
    z-index: 1000;
}

.header .container {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo a {
    display: flex;
    align-items: center;
    padding: 8px;
}

/* Dropdown Menu */
.header .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    list-style: none;
    padding: 4px 0;
    width: 100px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Show dropdown when hovering */
.header .menu-item {
    position: relative;
    cursor: pointer;
}

.header .menu-links {
    display: flex;
    gap: 2px;
    list-style-type: none;
}

.header .menu-link {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: black;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.header .menuRight-linkLine {
    border-right: 1px solid;
    border-color: #6D2424;
}

.header .menuRight-link {
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

.header .menu-link:hover,
.header .menu-link.active {
    border-color: #6D2424;
    color: #6D2424;
}

.header .auth {
    display: flex;
}

.header .login-button {
    padding: 12px 32px;
    font-weight: 600;
    background-color: #6D2424;
    color: white;
    border: none;
    border-radius: 38px;
    cursor: pointer;
    text-decoration: none;
}

.header .login-button:hover {
    background-color: #8B2A2A;
}

/* Media Query for Responsive Design */
@media (max-width: 1024px) {
    .header .menu {
        display: none;
    }
}
